.pagination {
    display: flex;
    align-items: center;
    height: 100%;

    &__elem {
        font-weight: 400;
        font-size: 14px;
        line-height: 60px;
        text-align: center;
        color: #FFFFFF;
        display: inline-block;
        margin-right: 20px;
        cursor: pointer;
        transition: .2s;

        &:last-child {
            margin-right: 0;
        }
    }
}
